<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
	<connectionStrings>
		<add name="ODSEntities" connectionString="metadata=res://*/CamstarModel.csdl|res://*/CamstarModel.ssdl|res://*/CamstarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MES7QAOLTP;initial catalog=ODS;persist security info=True;user id=YWDsync;password=yac4U3YQae;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="CSX_Entities" connectionString="metadata=res://*/CSX_Model.csdl|res://*/CSX_Model.ssdl|res://*/CSX_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CONTR_CPEPPLER;initial catalog=CSX_Service;persist security info=True;user id=YWDsync;password=yac4U3YQae;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<!-- Database connection strings.  The first points toward a connection to the Camstar database from which you want to extract-->
		<!--  The second is the database that contains the metadata that drives the query process -->

		<add key="Camstar_ConnectionString" value="Data Source=MES7QAOLTP;Initial Catalog=ODS;Persist Security Info=True;User ID=YWDsync;Password=yac4U3YQae"/>
		<add key="MetaData_ConnectionString" value="Data Source=CONTR_CPEPPLER;Initial Catalog=CSX_Service;Persist Security Info=True;User ID=YWDsync;Password=yac4U3YQae"/>
		<!-- File locations -->
		<add key="TempDir" value="C:\Temp\TempOutputFiles"/>
		<!-- This is the immediate place where files are written-->
		<add key="OutputDirRoot" value="M:\GNorwood\Charlie\YWD-ExtractFiles\"/>
		<!-- This is the root of the target directory structure -->
	</appSettings>

</configuration>